In [1]:
import pycountry

In [2]:
import numpy as np

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('merged_data.csv')

In [5]:
country_to_iso = {country.name: country.alpha_2 for country in pycountry.countries}
df['ISO_Code'] = df['Country'].map(country_to_iso)

In [6]:
df.head()

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
0,2023,Finland,Western Europe,1,7.804,0.535,1.888,0.772,0.126,0.535,1.585,2.363,FI
1,2023,Denmark,Western Europe,2,7.586,0.525,1.949,0.734,0.208,0.537,1.548,2.084,DK
2,2023,Iceland,Western Europe,3,7.530,0.187,1.926,0.738,0.250,0.559,1.620,2.250,IS
3,2023,Israel,Middle East and Northern Africa,4,7.473,0.158,1.833,0.569,0.124,0.577,1.521,2.691,IL
4,2023,Netherlands,Western Europe,5,7.403,0.394,1.942,0.672,0.251,0.545,1.488,2.110,NL

In [7]:
df['Country'].unique()

array(['Finland', 'Denmark', 'Iceland', 'Israel', 'Netherlands', 'Sweden',
       'Norway', 'Switzerland', 'Luxembourg', 'New Zealand', 'Austria',
       'Australia', 'Canada', 'Ireland', 'United States', 'Germany',
       'Belgium', 'Czechia', 'United Kingdom', 'Lithuania', 'France',
       'Slovenia', 'Costa Rica', 'Romania', 'Singapore',
       'United Arab Emirates', 'Taiwan Province of China', 'Uruguay',
       'Slovakia', 'Saudi Arabia', 'Estonia', 'Spain', 'Italy', 'Kosovo',
       'Chile', 'Mexico', 'Malta', 'Panama', 'Poland', 'Nicaragua',
       'Latvia', 'Bahrain', 'Guatemala', 'Kazakhstan', 'Serbia', 'Cyprus',
       'Japan', 'Croatia', 'Brazil', 'El Salvador', 'Hungary',
       'Argentina', 'Honduras', 'Uzbekistan', 'Malaysia', 'Portugal',
       'South Korea', 'Greece', 'Mauritius', 'Thailand', 'Mongolia',
       'Kyrgyzstan', 'Moldova', 'China', 'Vietnam', 'Paraguay',
       'Montenegro', 'Jamaica', 'Bolivia', 'Russia',
       'Bosnia and Herzegovina', 'Colombia', 'Dominican Republic',
       'Ecuador', 'Peru', 'Philippines', 'Bulgaria', 'Nepal', 'Armenia',
       'Tajikistan', 'Algeria', 'Hong Kong S.A.R. of China', 'Albania',
       'Indonesia', 'South Africa', 'Congo (Brazzaville)',
       'North Macedonia', 'Venezuela', 'Laos', 'Georgia', 'Guinea',
       'Ukraine', 'Ivory Coast', 'Gabon', 'Nigeria', 'Cameroon',
       'Mozambique', 'Iraq', 'State of Palestine', 'Morocco', 'Iran',
       'Senegal', 'Mauritania', 'Burkina Faso', 'Namibia', 'Turkiye',
       'Ghana', 'Pakistan', 'Niger', 'Tunisia', 'Kenya', 'Sri Lanka',
       'Uganda', 'Chad', 'Cambodia', 'Benin', 'Myanmar', 'Bangladesh',
       'Gambia', 'Mali', 'Egypt', 'Togo', 'Jordan', 'Ethiopia', 'Liberia',
       'India', 'Madagascar', 'Zambia', 'Tanzania', 'Comoros', 'Malawi',
       'Botswana', 'Congo (Kinshasa)', 'Zimbabwe', 'Sierra Leone',
       'Lebanon', 'Afghanistan', 'Luxembourg*', 'Guatemala*', 'Kuwait*',
       'Belarus*', 'Turkmenistan*', 'North Cyprus*', 'Libya*',
       'Azerbaijan*', 'Gambia*', 'Liberia*', 'Congo', 'Niger*', 'Turkey',
       'Comoros*', 'Palestinian Territories*', 'Eswatini, Kingdom of*',
       'Madagascar*', 'Chad*', 'Yemen*', 'Mauritania*', 'Lesotho*',
       'Botswana*', 'Rwanda*', 'xx', 'Czech Republic', 'Kuwait',
       'North Cyprus', 'Belarus', 'Libya', 'Maldives', 'Azerbaijan',
       'Turkmenistan', 'Palestinian Territories', 'Swaziland', 'Burundi',
       'Yemen', 'Haiti', 'Lesotho', 'Rwanda', 'Trinidad and Tobago',
       'Macedonia', 'Central African Republic', 'South Sudan', 'Taiwan',
       'Qatar', 'Trinidad & Tobago', 'Northern Cyprus', 'Hong Kong',
       'Bhutan', 'Somalia', 'Syria', 'Belize', 'Sudan', 'Angola',
       'Hong Kong S.A.R., China', 'Puerto Rico', 'Suriname',
       'Somaliland Region', 'Oman', 'Somaliland region', 'Djibouti'],
      dtype=object)

In [8]:
df['ISO_Code'].isna().sum()

190

In [9]:
nan_ISO = df['ISO_Code'].isnull() == True
df.loc[nan_ISO,:]

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
26,2023,Taiwan Province of China,NaN,27,6.535,0.17800,1.89000,0.56200,0.06700,0.49200,1.37200,1.97400,NaN
33,2023,Kosovo,Central and Eastern Europe,34,6.368,0.04500,1.37400,0.63900,0.27500,0.37200,1.26900,2.39300,NaN
56,2023,South Korea,Eastern Asia,57,5.951,0.16300,1.85300,0.44600,0.11200,0.60300,1.18800,1.58700,NaN
62,2023,Moldova,Central and Eastern Europe,63,5.819,0.02000,1.42500,0.61000,0.09300,0.37500,1.30200,1.99500,NaN
64,2023,Vietnam,Southeastern Asia,65,5.763,0.12200,1.34900,0.74100,0.13400,0.38100,1.21200,1.82400,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1329,2015,Congo (Kinshasa),Sub-Saharan Africa,120,4.517,0.07625,0.00000,0.22605,0.24834,0.09806,1.00120,2.86712,NaN
1348,2015,Congo (Brazzaville),Sub-Saharan Africa,139,3.989,0.11686,0.67866,0.41466,0.12388,0.31051,0.66290,1.68135,NaN
1355,2015,Tanzania,Sub-Saharan Africa,146,3.781,0.05747,0.28520,0.32878,0.34377,0.38215,1.00268,1.38079,NaN
1360,2015,Ivory Coast,Sub-Saharan Africa,151,3.655,0.17922,0.46534,0.46866,0.20165,0.15185,0.77115,1.41723,NaN
1365,2015,Syria,Middle East and Northern Africa,156,3.006,0.18906,0.66320,0.15684,0.47179,0.72193,0.47489,0.32858,NaN

In [10]:
# Create a mapping of country names to ISO codes
country_to_iso_mapping = {}

# Iterate through the ISO countries and add name variations to the mapping
for country in pycountry.countries:
    # Check if the 'name' and 'official_name' attributes exist
    if hasattr(country, 'name') and hasattr(country, 'alpha_2'):
        country_to_iso_mapping[country.name] = country.alpha_2
    if hasattr(country, 'official_name') and hasattr(country, 'alpha_2'):
        country_to_iso_mapping[country.official_name] = country.alpha_2

# Handle specific variations or discrepancies

country_to_iso_mapping['Tanzania'] = 'TZ'
country_to_iso_mapping['Kosovo'] = 'XK'
country_to_iso_mapping['South Korea'] = 'KR'
country_to_iso_mapping['Vietnam'] = 'VN'
country_to_iso_mapping['Ivory Coast'] = 'CI'
country_to_iso_mapping['Czech Republic'] = 'CZ'
country_to_iso_mapping['Taiwan Province of China'] = 'TW'
country_to_iso_mapping['Moldova'] = 'MD'
country_to_iso_mapping['Bolivia'] = 'BO'
country_to_iso_mapping['Russia'] = 'RU'
country_to_iso_mapping['Hong Kong S.A.R. of China'] = 'HK'
country_to_iso_mapping['Venezuela'] = 'VE'
country_to_iso_mapping['Laos'] = 'LA'
country_to_iso_mapping['State of Palestine'] = 'PS'
country_to_iso_mapping['Iran'] = 'IR'
country_to_iso_mapping['Turkiye'] = 'TR'
country_to_iso_mapping['Luxembourg*'] = 'LU'
country_to_iso_mapping['Guatemala*'] = 'GT'
country_to_iso_mapping['Kuwait*'] = 'KW'
country_to_iso_mapping['Belarus*'] = 'BY'
country_to_iso_mapping['Turkmenistan*'] = 'TM'
country_to_iso_mapping['North Cyprus*'] = 'CY'
country_to_iso_mapping['Libya*'] = 'LY'
country_to_iso_mapping['Azerbaijan*'] = 'AZ'
country_to_iso_mapping['Gambia*'] = 'GM'
country_to_iso_mapping['Liberia*'] = 'LR'
country_to_iso_mapping['Niger*'] = 'NE'
country_to_iso_mapping['Comoros*'] = 'KM'
country_to_iso_mapping['Palestinian Territories*'] = 'PS'
country_to_iso_mapping['Eswatini, Kingdom of*'] = 'SZ'
country_to_iso_mapping['Madagascar*'] = 'MG'
country_to_iso_mapping['Chad*'] = 'TD'
country_to_iso_mapping['Yemen*'] = 'YE'
country_to_iso_mapping['Mauritania*'] = 'MR'
country_to_iso_mapping['North Cyprus'] = 'CY'  # no differentiationg within Cyprus
country_to_iso_mapping['Palestinian Territories'] = 'PS' 
country_to_iso_mapping['Swaziland'] = 'SZ'  
country_to_iso_mapping['Macedonia'] = 'MK' 
country_to_iso_mapping['Taiwan'] = 'TW'  
country_to_iso_mapping['Trinidad & Tobago'] = 'TT' 
country_to_iso_mapping['Northern Cyprus'] = 'CY'  # no differentiationg within Cyprus
country_to_iso_mapping['Syria'] = 'SY'  
country_to_iso_mapping['Hong Kong S.A.R., China'] = 'HK' 
country_to_iso_mapping['Somaliland Region'] = 'SOX'  # adding an X to Somalia ISO code just to avoid different rows with different data for the same year with the same ISO code SO
country_to_iso_mapping['Somaliland region'] = 'SOX'  # adding an X to Somalia ISO code just to avoid different rows with different data for the same year with the same ISO code SO



# Handle variations with extra info in brackets
country_to_iso_mapping['Congo (Kinshasa)'] = 'CD'
country_to_iso_mapping['Congo (Brazzaville)'] = 'CG'

# Handle variations with an asterisk
country_to_iso_mapping['Lesotho*'] = 'LS'
country_to_iso_mapping['Botswana*'] = 'BW'
country_to_iso_mapping['Rwanda*'] = 'RW'

# Use the mapping to fill in missing ISO codes
df['ISO_Code'] = df['Country'].map(country_to_iso_mapping)

# Check the DataFrame for missing ISO codes
missing_iso_codes = df[df['ISO_Code'].isna()]

In [11]:
missing_iso_codes

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
283,2022,xx,NaN,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
unique_country_count = df['Country'].nunique()
print("Number of unique country entries:", unique_country_count)

Number of unique country entries: 198

In [13]:
unique_ISO_count=df['ISO_Code'].nunique()
print("Number of unique ISO entries:", unique_ISO_count)

Number of unique ISO entries: 164

In [14]:
df['Region'].unique()

array(['Western Europe', 'Middle East and Northern Africa',
       'Australia and New Zealand', 'North America', nan,
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Southeastern Asia', 'Eastern Asia', 'Sub-Saharan Africa',
       'Southern Asia'], dtype=object)

In [15]:
unique_Region_count=df['Region'].nunique()
print("Number of unique Region entries:", unique_Region_count)

Number of unique Region entries: 10

In [16]:
df['Region'].isna().sum()

67

In [55]:
region_mapping = {
    'Western Europe': 'WE',
    'Middle East and Northern Africa': 'MENAF',
    'Australia and New Zealand': 'ANZ',
    'North America': 'NAM',
    'Central and Eastern Europe': 'CEE', 
    'Latin America and Caribbean': 'LAC',
    'Southeastern Asia': 'SEAS', 
    'Eastern Asia': 'EAS', 
    'Sub-Saharan Africa':'SSAF',
    'Southern Asia':'SAS',
    'Commonwealth of Independent States':'CIS'
}

In [17]:
df.head(20)

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code
0,2023,Finland,Western Europe,1,7.804,0.535,1.888,0.772,0.126,0.535,1.585,2.363,FI
1,2023,Denmark,Western Europe,2,7.586,0.525,1.949,0.734,0.208,0.537,1.548,2.084,DK
2,2023,Iceland,Western Europe,3,7.530,0.187,1.926,0.738,0.250,0.559,1.620,2.250,IS
3,2023,Israel,Middle East and Northern Africa,4,7.473,0.158,1.833,0.569,0.124,0.577,1.521,2.691,IL
4,2023,Netherlands,Western Europe,5,7.403,0.394,1.942,0.672,0.251,0.545,1.488,2.110,NL
5,2023,Sweden,Western Europe,6,7.395,0.520,1.921,0.754,0.225,0.562,1.510,1.903,SE
6,2023,Norway,Western Europe,7,7.315,0.463,1.994,0.752,0.212,0.544,1.521,1.829,NO
7,2023,Switzerland,Western Europe,8,7.240,0.475,2.022,0.678,0.151,0.582,1.463,1.870,CH
8,2023,Luxembourg,Western Europe,9,7.228,0.418,2.200,0.710,0.149,0.549,1.357,1.845,LU
9,2023,New Zealand,Australia and New Zealand,10,7.123,0.471,1.842,0.672,0.230,0.513,1.544,1.852,NZ
10,2023,Austria,Western Europe,11,7.097,0.310,1.927,0.630,0.191,0.535,1.382,2.124,AT
11,2023,Australia,Australia and New Zealand,12,7.095,0.310,1.899,0.677,0.242,0.532,1.497,1.938,AU
12,2023,Canada,North America,13,6.961,0.364,1.881,0.656,0.218,0.541,1.484,1.815,CA
13,2023,Ireland,Western Europe,14,6.911,0.409,2.152,0.656,0.186,0.539,1.425,1.545,IE
14,2023,United States,North America,15,6.894,0.172,1.980,0.557,0.210,0.390,1.460,2.124,US
15,2023,Germany,Western Europe,16,6.892,0.365,1.919,0.618,0.153,0.539,1.401,1.898,DE
16,2023,Belgium,Western Europe,17,6.859,0.273,1.907,0.590,0.137,0.528,1.449,1.976,BE
17,2023,Czechia,NaN,18,6.845,0.050,1.823,0.693,0.158,0.477,1.544,2.099,CZ
18,2023,United Kingdom,Western Europe,19,6.796,0.340,1.857,0.626,0.272,0.511,1.366,1.822,GB
19,2023,Lithuania,Central and Eastern Europe,20,6.763,0.089,1.808,0.487,0.059,0.432,1.511,2.377,LT

In [52]:
# Create a mapping between ISO country codes and regions
iso_to_region_mapping = {
    'CZ': 'Central and Eastern Europe',
    'TW': 'Eastern Asia',
    'HK': 'Eastern Asia',
    'MK': 'Central and Eastern Europe', 
    'PS': 'Middle East and Northern Africa', 
    'NA': 'Sub-Saharan Africa', 
    'TR': 'Middle East and Northern Africa',
    'GM': 'Sub-Saharan Africa',
    'LU': 'Western Europe', 
    'GT': 'Latin America and Caribbean', 
    'KW': 'Middle East and Northern Africa',
    'BY': 'Central and Eastern Europe', 
    'TM': 'Commonwealth of Independent States', #after discussing with Laura, I do add this Region to our data for 12 countries. 
                                                #Reason: I do not see Russia, Kazachstan, Turkmenistan etc. as Central and Eastern Europe Region ("faulty" Region in .csv earlier years, 
                                                #but these 12 countries are listed as commonwealth... region later on in the original csv files)
    'CY': 'Western Europe', 
    'LY': 'Middle East and Northern Africa', 
    'AZ': 'Commonwealth of Independent States', 
    'LR': 'Sub-Saharan Africa', 
    'CG': 'Sub-Saharan Africa', 
    'NE': 'Sub-Saharan Africa', 
    'KM': 'Sub-Saharan Africa', 
    'SZ': 'Sub-Saharan Africa', 
    'MG': 'Sub-Saharan Africa',
    'TD': 'Sub-Saharan Africa', 
    'YE': 'Middle East and Northern Africa', 
    'MR': 'Sub-Saharan Africa', 
    'LS': 'Sub-Saharan Africa', 
    'BW': 'Sub-Saharan Africa', 
    'RW': 'Sub-Saharan Africa', 
    'MV': 'Sub-Saharan Africa', 
    'SS': 'Sub-Saharan Africa', 
    'TT': 'Latin America and Caribbean', 
    'SO': 'Sub-Saharan Africa',
    'BZ': 'Latin America and Caribbean'
    
}

# Fill the "Region" column using iso_to_region_mapping
df['Region'] = df['ISO_Code'].map(iso_to_region_mapping)

# Check the DataFrame for any remaining missing values
missing_regions = df[df['Region'].isna()]

In [64]:
missing_Region_codes['ISO_Code'].nunique()

131

In [61]:
df['Region'].isna().sum()

1108