In [1]:
import pandas as pd
import numpy as np
import pycountry

In [2]:
df=pd.read_csv('merged_data_6.csv')
df.head()

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code,Region_Code
0,2023,Finland,Western Europe,1,7.804,0.535,1.888,0.772,0.126,0.535,1.585,2.363,FI,WE
1,2023,Denmark,Western Europe,2,7.586,0.525,1.949,0.734,0.208,0.537,1.548,2.084,DK,WE
2,2023,Iceland,Western Europe,3,7.530,0.187,1.926,0.738,0.250,0.559,1.620,2.250,IS,WE
3,2023,Israel,Middle East and Northern Africa,4,7.473,0.158,1.833,0.569,0.124,0.577,1.521,2.691,IL,MENAF
4,2023,Netherlands,Western Europe,5,7.403,0.394,1.942,0.672,0.251,0.545,1.488,2.110,NL,WE

In [3]:
unique_country_count = df['Country'].nunique()
print("Number of unique country entries:", unique_country_count)

Number of unique country entries: 198

In [4]:
unique_ISO_count=df['ISO_Code'].nunique()
print("Number of unique ISO entries:", unique_ISO_count)

Number of unique ISO entries: 163

In [5]:
# create mapping of ISO codes to simplest country names
iso_to_simplified_country = df.groupby('ISO_Code')['Country'].min().to_dict()

df['Simplified_Country'] = df['ISO_Code'].map(iso_to_simplified_country)

# double checking myself / verify the new column
print(df[['ISO_Code', 'Simplified_Country']])

     ISO_Code Simplified_Country
0          FI            Finland
1          DK            Denmark
2          IS            Iceland
3          IL             Israel
4          NL        Netherlands
...       ...                ...
1363       RW             Rwanda
1364       BJ              Benin
1365       SY              Syria
1366       BI            Burundi
1367       TG               Togo

[1368 rows x 2 columns]

In [6]:
unique_scountry_count = df['Simplified_Country'].nunique()
print("Number of unique simplified country entries:", unique_scountry_count)

Number of unique simplified country entries: 163

In [7]:
unique_ISO_count=df['ISO_Code'].nunique()
print("Number of unique ISO entries:", unique_ISO_count)

Number of unique ISO entries: 163

In [8]:
# Replacing the original 'Country' column with the new 'Simplified_Country' column after verifiction und double check
df['Country'] = df['Simplified_Country']

In [9]:
# Drop the 'Simplified_Country' column as we no longer need it
df.drop(columns=['Simplified_Country'], inplace=True)

In [10]:
df.head()

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,ISO_Code,Region_Code
0,2023,Finland,Western Europe,1,7.804,0.535,1.888,0.772,0.126,0.535,1.585,2.363,FI,WE
1,2023,Denmark,Western Europe,2,7.586,0.525,1.949,0.734,0.208,0.537,1.548,2.084,DK,WE
2,2023,Iceland,Western Europe,3,7.530,0.187,1.926,0.738,0.250,0.559,1.620,2.250,IS,WE
3,2023,Israel,Middle East and Northern Africa,4,7.473,0.158,1.833,0.569,0.124,0.577,1.521,2.691,IL,MENAF
4,2023,Netherlands,Western Europe,5,7.403,0.394,1.942,0.672,0.251,0.545,1.488,2.110,NL,WE

In [11]:
df.to_csv('merged_data_unified_country_names.csv', index=False)