In [2]:
import pandas as pd
import plotly.graph_objects as go
import pickle

In [3]:
df = pd.read_csv("Lage_Länder.csv")
df.head()

        Long       Lat      Country
0  67.709953  33.93911  Afghanistan
1  20.168300  41.15330      Albania
2   1.659600  28.03390      Algeria
3   1.521800  42.50630      Andorra
4  17.873900 -11.20270       Angola

In [4]:
df_23 = pd.read_csv("2023.csv")
df_22 = pd.read_csv("2022.csv")
df_21 = pd.read_csv("2021.csv")
df_20 = pd.read_csv("2020.csv")
df_19 = pd.read_csv("2019.csv")
df_18 = pd.read_csv("2018.csv")
df_17 = pd.read_csv("2017.csv")
df_16 = pd.read_csv("2016.csv")
df_15 = pd.read_csv("2015.csv")

In [5]:
df_23.name = 2023
df_22.name = 2022
df_21.name = 2021
df_20.name = 2020
df_19.name = 2019
df_18.name = 2018
df_17.name = 2017
df_16.name = 2016
df_15.name = 2015

In [6]:
region_dict = df_15.set_index("Country")["Region"].to_dict()

In [7]:
# Dein Dictionary

# Dateiname, in den das Dictionary gespeichert werden soll
dateiname = "mein_dictionary.pkl"

# Öffne die Datei im Schreibmodus und speichere das Dictionary mit Pickle
with open(dateiname, "wb") as datei:
    pickle.dump(region_dict, datei)

print(f"Das Dictionary wurde in {dateiname} gespeichert.")

Das Dictionary wurde in mein_dictionary.pkl gespeichert.

In [8]:
dataframes = [df_23, df_22,df_21, df_20, df_19, df_18,df_17, df_16, df_15 ]
dataframes_1 =[df_23, df_21, df_20]

In [9]:
columns_to_delete= ['Perceptions of corruption','Freedom to make life choices','Social support','Generosity','Healthy life expectancy']
for df in dataframes_1:
    df.drop(columns=columns_to_delete, inplace=True)

In [10]:
for df in dataframes:
    # Erstelle eine neue Spalte "Year" und fülle sie mit dem Namen des DataFrames
    df['Year'] = df.name

In [11]:
column_to_check = 'Year'

# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Year' ist in 2023 vorhanden.
Die Spalte 'Year' ist in 2022 vorhanden.
Die Spalte 'Year' ist in 2021 vorhanden.
Die Spalte 'Year' ist in 2020 vorhanden.
Die Spalte 'Year' ist in 2019 vorhanden.
Die Spalte 'Year' ist in 2018 vorhanden.
Die Spalte 'Year' ist in 2017 vorhanden.
Die Spalte 'Year' ist in 2016 vorhanden.
Die Spalte 'Year' ist in 2015 vorhanden.

In [12]:
df_18.loc[:, 'Dystopia_Residual'] = df_18.loc[:, 'Score'] -df_18.loc[:, 'GDP per capita']- df_18.loc[:, 'Social support'] - df_18.loc[:, 'Healthy life expectancy'] -df_18.loc[:, 'Freedom to make life choices']-df_18.loc[:, 'Generosity'] -df_18.loc[:,  'Perceptions of corruption']
df_19.loc[:, 'Dystopia_Residual'] = df_19.loc[:, 'Score'] -df_19.loc[:, 'GDP per capita']- df_19.loc[:, 'Social support'] - df_19.loc[:, 'Healthy life expectancy'] -df_19.loc[:, 'Freedom to make life choices']-df_19.loc[:, 'Generosity'] -df_19.loc[:,  'Perceptions of corruption']

In [13]:
######Dystopia Residual = Dystopia_Residual
spalten_zu_umbenennen = ['Dystopia Residual', 'Dystopia.Residual', 'Dystopia + residual', 'Dystopia (1.83) + residual']

# Neuer Spaltenname
neuer_spaltenname = 'Dystopia_Residual'

# Schleife zum Umbenennen der Spalten
for idx, dataframe in enumerate(dataframes):
    for alter_spaltenname in spalten_zu_umbenennen:
        if alter_spaltenname in dataframe.columns:
            dataframe.rename(columns={alter_spaltenname: neuer_spaltenname}, inplace=True)

column_to_check = 'Dystopia_Residual'

# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Dystopia_Residual' ist in 2023 vorhanden.
Die Spalte 'Dystopia_Residual' ist in 2022 vorhanden.
Die Spalte 'Dystopia_Residual' ist in 2021 vorhanden.
Die Spalte 'Dystopia_Residual' ist in 2020 vorhanden.
Die Spalte 'Dystopia_Residual' ist in 2019 vorhanden.
Die Spalte 'Dystopia_Residual' ist in 2018 vorhanden.
Die Spalte 'Dystopia_Residual' ist in 2017 vorhanden.
Die Spalte 'Dystopia_Residual' ist in 2016 vorhanden.
Die Spalte 'Dystopia_Residual' ist in 2015 vorhanden.

In [14]:
###Spaltennamen Country angleichen
string_to_replace = 'Country'

# Schleife zum Überprüfen und Ersetzen der Spaltennamen
for idx, dataframe in enumerate(dataframes):
    for col in dataframe.columns:
        if string_to_replace in col:
            new_col_name = 'Country'
            dataframe.rename(columns={col: new_col_name}, inplace=True)

column_to_check = 'Country'            
            
# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Country' ist in 2023 vorhanden.
Die Spalte 'Country' ist in 2022 vorhanden.
Die Spalte 'Country' ist in 2021 vorhanden.
Die Spalte 'Country' ist in 2020 vorhanden.
Die Spalte 'Country' ist in 2019 vorhanden.
Die Spalte 'Country' ist in 2018 vorhanden.
Die Spalte 'Country' ist in 2017 vorhanden.
Die Spalte 'Country' ist in 2016 vorhanden.
Die Spalte 'Country' ist in 2015 vorhanden.

In [15]:
######Ladder Score = Happiness Score
spalten_zu_umbenennen = ['Ladder score', 'Happiness Score', 'Happiness.Score', 'Score', 'Happiness score']

# Neuer Spaltenname
neuer_spaltenname = 'Happiness'

# Schleife zum Umbenennen der Spalten
for idx, dataframe in enumerate(dataframes):
    for alter_spaltenname in spalten_zu_umbenennen:
        if alter_spaltenname in dataframe.columns:
            dataframe.rename(columns={alter_spaltenname: neuer_spaltenname}, inplace=True)

column_to_check = 'Happiness'            
            
# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Happiness' ist in 2023 vorhanden.
Die Spalte 'Happiness' ist in 2022 vorhanden.
Die Spalte 'Happiness' ist in 2021 vorhanden.
Die Spalte 'Happiness' ist in 2020 vorhanden.
Die Spalte 'Happiness' ist in 2019 vorhanden.
Die Spalte 'Happiness' ist in 2018 vorhanden.
Die Spalte 'Happiness' ist in 2017 vorhanden.
Die Spalte 'Happiness' ist in 2016 vorhanden.
Die Spalte 'Happiness' ist in 2015 vorhanden.

In [16]:
######Rank
spalten_zu_umbenennen = ['RANK', 'Happiness.Rank', 'Overall rank', 'Happiness Rank']

# Neuer Spaltenname
neuer_spaltenname = 'Happiness_Rank'

# Schleife zum Umbenennen der Spalten
for idx, dataframe in enumerate(dataframes):
    for alter_spaltenname in spalten_zu_umbenennen:
        if alter_spaltenname in dataframe.columns:
            dataframe.rename(columns={alter_spaltenname: neuer_spaltenname}, inplace=True)
            
column_to_check = 'Happiness_Rank'

In [17]:
neuer_spaltenname = 'Happiness_Rank'
for idx, dataframe in enumerate(dataframes):
    if 'Happiness_Rank' not in dataframe.columns:
        dataframe[neuer_spaltenname] = dataframe.apply(lambda row: row.name + 1, axis=1)

column_to_check = 'Happiness_Rank'              

# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Happiness_Rank' ist in 2023 vorhanden.
Die Spalte 'Happiness_Rank' ist in 2022 vorhanden.
Die Spalte 'Happiness_Rank' ist in 2021 vorhanden.
Die Spalte 'Happiness_Rank' ist in 2020 vorhanden.
Die Spalte 'Happiness_Rank' ist in 2019 vorhanden.
Die Spalte 'Happiness_Rank' ist in 2018 vorhanden.
Die Spalte 'Happiness_Rank' ist in 2017 vorhanden.
Die Spalte 'Happiness_Rank' ist in 2016 vorhanden.
Die Spalte 'Happiness_Rank' ist in 2015 vorhanden.

In [18]:
#####Social support
neuer_spaltenname = 'Explained_by_Social_support'

spalten_zu_umbenennen = ['Social support', 'Explained by: Social support', 'Family']

# Schleife zum Umbenennen der Spalten
for idx, dataframe in enumerate(dataframes):
    for alter_spaltenname in spalten_zu_umbenennen:
        if alter_spaltenname in dataframe.columns:
            dataframe.rename(columns={alter_spaltenname: neuer_spaltenname}, inplace=True)

column_to_check = 'Explained_by_Social_support'              

# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Explained_by_Social_support' ist in 2023 vorhanden.
Die Spalte 'Explained_by_Social_support' ist in 2022 vorhanden.
Die Spalte 'Explained_by_Social_support' ist in 2021 vorhanden.
Die Spalte 'Explained_by_Social_support' ist in 2020 vorhanden.
Die Spalte 'Explained_by_Social_support' ist in 2019 vorhanden.
Die Spalte 'Explained_by_Social_support' ist in 2018 vorhanden.
Die Spalte 'Explained_by_Social_support' ist in 2017 vorhanden.
Die Spalte 'Explained_by_Social_support' ist in 2016 vorhanden.
Die Spalte 'Explained_by_Social_support' ist in 2015 vorhanden.

In [19]:
#####Social support
neuer_spaltenname = 'Explained_by_Health'

spalten_zu_umbenennen = ['Health (Life Expectancy)', 'Health..Life.Expectancy.', 'Healthy life expectancy','Explained by: Healthy life expectancy' ]

# Schleife zum Umbenennen der Spalten
for idx, dataframe in enumerate(dataframes):
    for alter_spaltenname in spalten_zu_umbenennen:
        if alter_spaltenname in dataframe.columns:
            dataframe.rename(columns={alter_spaltenname: neuer_spaltenname}, inplace=True)

column_to_check = 'Explained_by_Health'              

# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Explained_by_Health' ist in 2023 vorhanden.
Die Spalte 'Explained_by_Health' ist in 2022 vorhanden.
Die Spalte 'Explained_by_Health' ist in 2021 vorhanden.
Die Spalte 'Explained_by_Health' ist in 2020 vorhanden.
Die Spalte 'Explained_by_Health' ist in 2019 vorhanden.
Die Spalte 'Explained_by_Health' ist in 2018 vorhanden.
Die Spalte 'Explained_by_Health' ist in 2017 vorhanden.
Die Spalte 'Explained_by_Health' ist in 2016 vorhanden.
Die Spalte 'Explained_by_Health' ist in 2015 vorhanden.

In [20]:
#########Generosity
neuer_spaltenname = 'Explained_by_Generosity'

spalten_zu_umbenennen = ['Generosity', 'Explained by: Generosity']

# Schleife zum Umbenennen der Spalten
for idx, dataframe in enumerate(dataframes):
    for alter_spaltenname in spalten_zu_umbenennen:
        if alter_spaltenname in dataframe.columns:
            dataframe.rename(columns={alter_spaltenname: neuer_spaltenname}, inplace=True)

column_to_check = 'Explained_by_Generosity'              

# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Explained_by_Generosity' ist in 2023 vorhanden.
Die Spalte 'Explained_by_Generosity' ist in 2022 vorhanden.
Die Spalte 'Explained_by_Generosity' ist in 2021 vorhanden.
Die Spalte 'Explained_by_Generosity' ist in 2020 vorhanden.
Die Spalte 'Explained_by_Generosity' ist in 2019 vorhanden.
Die Spalte 'Explained_by_Generosity' ist in 2018 vorhanden.
Die Spalte 'Explained_by_Generosity' ist in 2017 vorhanden.
Die Spalte 'Explained_by_Generosity' ist in 2016 vorhanden.
Die Spalte 'Explained_by_Generosity' ist in 2015 vorhanden.

In [21]:
#########Freedom
neuer_spaltenname = 'Explained_by_Freedom'

spalten_zu_umbenennen = ['Explained by: Freedom to make life choices', 'Freedom', 'Freedom to make life choices', 'Explained by: Freedom to make life choices' ]

# Schleife zum Umbenennen der Spalten
for idx, dataframe in enumerate(dataframes):
    for alter_spaltenname in spalten_zu_umbenennen:
        if alter_spaltenname in dataframe.columns:
            dataframe.rename(columns={alter_spaltenname: neuer_spaltenname}, inplace=True)

column_to_check = 'Explained_by_Freedom'              

# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Explained_by_Freedom' ist in 2023 vorhanden.
Die Spalte 'Explained_by_Freedom' ist in 2022 vorhanden.
Die Spalte 'Explained_by_Freedom' ist in 2021 vorhanden.
Die Spalte 'Explained_by_Freedom' ist in 2020 vorhanden.
Die Spalte 'Explained_by_Freedom' ist in 2019 vorhanden.
Die Spalte 'Explained_by_Freedom' ist in 2018 vorhanden.
Die Spalte 'Explained_by_Freedom' ist in 2017 vorhanden.
Die Spalte 'Explained_by_Freedom' ist in 2016 vorhanden.
Die Spalte 'Explained_by_Freedom' ist in 2015 vorhanden.

In [22]:
#########GDP
neuer_spaltenname = 'Explained_by_GDP'

spalten_zu_umbenennen = ['Explained by: GDP per capita','Economy (GDP per Capita)', 'Freedom', 'Economy..GDP.per.Capita.', 'GDP per capita', 'Explained by: Log GDP per capita' ]

# Schleife zum Umbenennen der Spalten
for idx, dataframe in enumerate(dataframes):
    for alter_spaltenname in spalten_zu_umbenennen:
        if alter_spaltenname in dataframe.columns:
            dataframe.rename(columns={alter_spaltenname: neuer_spaltenname}, inplace=True)

column_to_check = 'Explained_by_GDP'              

# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Explained_by_GDP' ist in 2023 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2022 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2021 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2020 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2019 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2018 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2017 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2016 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2015 vorhanden.

In [23]:
#########Trust 1
neuer_spaltenname = 'Explained_by_Trust'
df_23.rename(columns={'Explained by: Perceptions of corruption': 'Explained_by_Trust'}, inplace=True)
df_23.columns

Index(['Country', 'Happiness', 'Standard error of ladder score',
       'upperwhisker', 'lowerwhisker', 'Logged GDP per capita',
       'Ladder score in Dystopia', 'Explained_by_GDP',
       'Explained_by_Social_support', 'Explained_by_Health',
       'Explained_by_Freedom', 'Explained_by_Generosity', 'Explained_by_Trust',
       'Dystopia_Residual', 'Year', 'Happiness_Rank'],
      dtype='object')

In [24]:
neuer_spaltenname = 'Explained_by_Trust'
df_21.rename(columns={'Explained by: Perceptions of corruption': 'Explained_by_Trust'}, inplace=True)
df_21.columns

Index(['Country', 'Regional indicator', 'Happiness',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Ladder score in Dystopia', 'Explained_by_GDP',
       'Explained_by_Social_support', 'Explained_by_Health',
       'Explained_by_Freedom', 'Explained_by_Generosity', 'Explained_by_Trust',
       'Dystopia_Residual', 'Year', 'Happiness_Rank'],
      dtype='object')

In [25]:
neuer_spaltenname = 'Explained_by_Trust'
df_20.rename(columns={'Explained by: Perceptions of corruption': 'Explained_by_Trust'}, inplace=True)
df_20.columns

Index(['Country', 'Regional indicator', 'Happiness',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Ladder score in Dystopia', 'Explained_by_GDP',
       'Explained_by_Social_support', 'Explained_by_Health',
       'Explained_by_Freedom', 'Explained_by_Generosity', 'Explained_by_Trust',
       'Dystopia_Residual', 'Year', 'Happiness_Rank'],
      dtype='object')

In [26]:
neuer_spaltenname = 'Explained_by_Trust'
df_22.rename(columns={'Explained by: Perceptions of corruption': 'Explained_by_Trust'}, inplace=True)
df_22.columns

Index(['Happiness_Rank', 'Country', 'Happiness', 'Whisker-high', 'Whisker-low',
       'Dystopia_Residual', 'Explained_by_GDP', 'Explained_by_Social_support',
       'Explained_by_Health', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Trust', 'Year'],
      dtype='object')

In [27]:
neuer_spaltenname = 'Explained_by_Trust'
df_19.rename(columns={'Perceptions of corruption': 'Explained_by_Trust'}, inplace=True)
df_19.columns

Index(['Happiness_Rank', 'Country', 'Happiness', 'Explained_by_GDP',
       'Explained_by_Social_support', 'Explained_by_Health',
       'Explained_by_Freedom', 'Explained_by_Generosity', 'Explained_by_Trust',
       'Year', 'Dystopia_Residual'],
      dtype='object')

In [28]:
neuer_spaltenname = 'Explained_by_Trust'
df_18.rename(columns={'Perceptions of corruption': 'Explained_by_Trust'}, inplace=True)
df_18.columns

Index(['Happiness_Rank', 'Country', 'Happiness', 'Explained_by_GDP',
       'Explained_by_Social_support', 'Explained_by_Health',
       'Explained_by_Freedom', 'Explained_by_Generosity', 'Explained_by_Trust',
       'Year', 'Dystopia_Residual'],
      dtype='object')

In [29]:
neuer_spaltenname = 'Explained_by_Trust'
df_17.rename(columns={'Trust..Government.Corruption.': 'Explained_by_Trust'}, inplace=True)
df_17.columns

Index(['Country', 'Happiness_Rank', 'Happiness', 'Whisker.high', 'Whisker.low',
       'Explained_by_GDP', 'Explained_by_Social_support',
       'Explained_by_Health', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Trust', 'Dystopia_Residual',
       'Year'],
      dtype='object')

In [30]:
neuer_spaltenname = 'Explained_by_Trust'
df_16.rename(columns={'Trust (Government Corruption)': 'Explained_by_Trust'}, inplace=True)
df_16.columns

Index(['Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Explained_by_GDP', 'Explained_by_Social_support',
       'Explained_by_Health', 'Explained_by_Freedom', 'Explained_by_Trust',
       'Explained_by_Generosity', 'Dystopia_Residual', 'Year'],
      dtype='object')

In [31]:
neuer_spaltenname = 'Explained_by_Trust'
df_15.rename(columns={'Trust (Government Corruption)': 'Explained_by_Trust'}, inplace=True)
df_15.columns

Index(['Country', 'Region', 'Happiness_Rank', 'Happiness', 'Standard Error',
       'Explained_by_GDP', 'Explained_by_Social_support',
       'Explained_by_Health', 'Explained_by_Freedom', 'Explained_by_Trust',
       'Explained_by_Generosity', 'Dystopia_Residual', 'Year'],
      dtype='object')

In [32]:
# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
for df in dataframes:
    if column_to_check in df.columns:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} vorhanden.")
    else:
        print(f"Die Spalte '{column_to_check}' ist in {df.name} nicht vorhanden.")

Die Spalte 'Explained_by_GDP' ist in 2023 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2022 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2021 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2020 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2019 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2018 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2017 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2016 vorhanden.
Die Spalte 'Explained_by_GDP' ist in 2015 vorhanden.

In [33]:
def find_duplicate_columns(df):
    # Finde doppelte Spaltennamen
    duplicated_columns = df.columns[df.columns.duplicated()].tolist()
    return duplicated_columns

# Annahme: dataframes ist eine Liste von DataFrames

for df in dataframes:
    duplicated_columns = find_duplicate_columns(df)
    if duplicated_columns:
        print(f"Im DataFrame {df.name} gibt es doppelte Spaltennamen: {', '.join(duplicated_columns)}")
    else:
        print(f"Im DataFrame {df.name} gibt es keine doppelten Spaltennamen.")

Im DataFrame 2023 gibt es keine doppelten Spaltennamen.
Im DataFrame 2022 gibt es keine doppelten Spaltennamen.
Im DataFrame 2021 gibt es keine doppelten Spaltennamen.
Im DataFrame 2020 gibt es keine doppelten Spaltennamen.
Im DataFrame 2019 gibt es keine doppelten Spaltennamen.
Im DataFrame 2018 gibt es keine doppelten Spaltennamen.
Im DataFrame 2017 gibt es keine doppelten Spaltennamen.
Im DataFrame 2016 gibt es keine doppelten Spaltennamen.
Im DataFrame 2015 gibt es keine doppelten Spaltennamen.

In [34]:
for df in dataframes:
    # Überprüfe, ob "Region" in den Spalten des DataFrames ist
    if "Region" not in df.columns:
        # Wenn nicht, füge "Region" hinzu und fülle sie mit Werten aus dem Dictionary
        df["Region"] = df["Country"].map(region_dict)
        #print(f"DataFrame {dataframe.name} nach der Umbenennung:")
        #print(dataframe.columns)

In [35]:
# Schleife durch die DataFrames und wähle die gewünschten Spalten aus
selected_columns = ['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
                    'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
                    'Explained_by_Generosity', 'Explained_by_Health', 'Explained_by_Social_support', 
                    'Dystopia_Residual']
for df in dataframes:
    df = df[selected_columns]
    print(f"DataFrame:")
    print(df.columns)

DataFrame:
Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')
DataFrame:
Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')
DataFrame:
Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')
DataFrame:
Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')
DataFrame:
Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')
DataFrame:
Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')
DataFrame:
Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')
DataFrame:
Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')
DataFrame:
Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')

In [36]:
first_dataframe_columns = set(dataframes[0].columns)

# Schleife durch die restlichen DataFrames und vergleiche ihre Spaltennamen mit dem ersten DataFrame
for df in dataframes[1:]:
    if set(df.columns) != first_dataframe_columns:
        print(f"Die Spalten in {df.name} stimmen nicht mit dem ersten DataFrame überein.")
    else:
        print(f"Die Spalten in {df.name} stimmen mit dem ersten DataFrame überein.")

Die Spalten in 2022 stimmen nicht mit dem ersten DataFrame überein.
Die Spalten in 2021 stimmen nicht mit dem ersten DataFrame überein.
Die Spalten in 2020 stimmen nicht mit dem ersten DataFrame überein.
Die Spalten in 2019 stimmen nicht mit dem ersten DataFrame überein.
Die Spalten in 2018 stimmen nicht mit dem ersten DataFrame überein.
Die Spalten in 2017 stimmen nicht mit dem ersten DataFrame überein.
Die Spalten in 2016 stimmen nicht mit dem ersten DataFrame überein.
Die Spalten in 2015 stimmen nicht mit dem ersten DataFrame überein.

In [37]:
def vereinheitliche_dezimaltrennzeichen(df, spalte):
    df[spalte] = df[spalte].str.replace(',', '.', regex=True).astype(float)

In [38]:
vereinheitliche_dezimaltrennzeichen(df_22, 'Happiness')
vereinheitliche_dezimaltrennzeichen(df_22, 'Explained_by_Trust')
vereinheitliche_dezimaltrennzeichen(df_22, 'Explained_by_GDP')
vereinheitliche_dezimaltrennzeichen(df_22,  'Explained_by_Freedom')
vereinheitliche_dezimaltrennzeichen(df_22, 'Explained_by_Generosity')
vereinheitliche_dezimaltrennzeichen(df_22, 'Explained_by_Health')
vereinheitliche_dezimaltrennzeichen(df_22, 'Explained_by_Social_support')
vereinheitliche_dezimaltrennzeichen(df_22, 'Dystopia_Residual')

In [39]:
selected_dataframes = []

# Schleife durch die DataFrames und wähle die gewünschten Spalten aus
for df in dataframes:
    df = df[selected_columns]  # Auswahl der Spalten
    selected_dataframes.append(df)

# Setze den Index der DataFrames zurück
for df in selected_dataframes:
    df.reset_index(drop=True, inplace=True)

# Verwende pd.concat(), um die DataFrames reihenweise zu kombinieren
merged_df = pd.concat(selected_dataframes, axis=0, ignore_index=True)

# Das merged_df enthält die ausgewählten Spalten in gleicher Reihenfolge für alle Jahre
print(merged_df)

      Year      Country                           Region  Happiness_Rank  \
0     2023      Finland                   Western Europe               1
1     2023      Denmark                   Western Europe               2
2     2023      Iceland                   Western Europe               3
3     2023       Israel  Middle East and Northern Africa               4
4     2023  Netherlands                   Western Europe               5
...    ...          ...                              ...             ...
1363  2015       Rwanda               Sub-Saharan Africa             154
1364  2015        Benin               Sub-Saharan Africa             155
1365  2015        Syria  Middle East and Northern Africa             156
1366  2015      Burundi               Sub-Saharan Africa             157
1367  2015         Togo               Sub-Saharan Africa             158

      Happiness  Explained_by_Trust  Explained_by_GDP  Explained_by_Freedom  \
0         7.804             0.53500           1.88800               0.77200
1         7.586             0.52500           1.94900               0.73400
2         7.530             0.18700           1.92600               0.73800
3         7.473             0.15800           1.83300               0.56900
4         7.403             0.39400           1.94200               0.67200
...         ...                 ...               ...                   ...
1363      3.465             0.55191           0.22208               0.59201
1364      3.340             0.08010           0.28665               0.48450
1365      3.006             0.18906           0.66320               0.15684
1366      2.905             0.10062           0.01530               0.11850
1367      2.839             0.10731           0.20868               0.36453

      Explained_by_Generosity  Explained_by_Health  \
0                     0.12600              0.53500
1                     0.20800              0.53700
2                     0.25000              0.55900
3                     0.12400              0.57700
4                     0.25100              0.54500
...                       ...                  ...
1363                  0.22628              0.42864
1364                  0.18260              0.31910
1365                  0.47179              0.72193
1366                  0.19727              0.22396
1367                  0.16681              0.28443

      Explained_by_Social_support  Dystopia_Residual
0                         1.58500            2.36300
1                         1.54800            2.08400
2                         1.62000            2.25000
3                         1.52100            2.69100
4                         1.48800            2.11000
...                           ...                ...
1363                      0.77370            0.67042
1364                      0.35386            1.63328
1365                      0.47489            0.32858
1366                      0.41587            1.83302
1367                      0.13995            1.56726

[1368 rows x 12 columns]

In [40]:
capital_coordinates =  {
    'Azerbaijan*': {'Country': 'Azerbaijan*', 'Capital': 'Baku', 'Long': 49.8932, 'Lat': 40.3834},
    'Belarus*': {'Country': 'Belarus*', 'Capital': 'Minsk', 'Long': 27.5661, 'Lat': 53.9045},
    'Belize': {'Country': 'Belize', 'Capital': 'Belmopan', 'Long': -88.7737, 'Lat': 17.2510},
    'Botswana*': {'Country': 'Botswana*', 'Capital': 'Gaborone', 'Long': 25.9201, 'Lat': -24.6541},
    'Chad*': {'Country': 'Chad*', 'Capital': 'NDjamena', 'Long': 15.0498, 'Lat': 12.6392},
    'Comoros*': {'Country': 'Comoros*', 'Capital': 'Moroni', 'Long': 43.2551, 'Lat': -11.7042},
    'Congo': {'Country': 'Congo', 'Capital': 'Brazzaville', 'Long': 15.2663, 'Lat': -4.2767},
    'Czechia': {'Country': 'Czechia', 'Capital': 'Prague', 'Long': 14.4212, 'Lat': 50.0878},
    'Eswatini, Kingdom of*': {'Country': 'Eswatini, Kingdom of*', 'Capital': 'Mbabane', 'Long': 31.1332, 'Lat': -26.3054},
    'Gambia': {'Country': 'Gambia', 'Capital': 'Banjul', 'Long': -16.6149, 'Lat': 13.4549},
    'Gambia*': {'Country': 'Gambia*', 'Capital': 'Banjul', 'Long': -16.6149, 'Lat': 13.4549},
    'Guatemala*': {'Country': 'Guatemala*', 'Capital': 'Guatemala City', 'Long': -90.5069, 'Lat': 14.6349},
    'Hong Kong S.A.R. of China': {'Country': 'Hong Kong S.A.R. of China', 'Capital': 'Hong Kong', 'Long': 114.1694, 'Lat': 22.3193},
    'Hong Kong S.A.R., China': {'Country': 'Hong Kong S.A.R., China', 'Capital': 'Hong Kong', 'Long': 114.1694, 'Lat': 22.3193},
    'Kuwait*': {'Country': 'Kuwait*', 'Capital': 'Kuwait City', 'Long': 47.9774, 'Lat': 29.3759},
    'Lesotho*': {'Country': 'Lesotho*', 'Capital': 'Maseru', 'Long': 27.5130, 'Lat': -29.2977},
    'Liberia*': {'Country': 'Liberia*', 'Capital': 'Monrovia', 'Long': -10.7876, 'Lat': 6.3110},
    'Libya*': {'Country': 'Libya*', 'Capital': 'Tripoli', 'Long': 13.1879, 'Lat': 32.8830},
    'Luxembourg*': {'Country': 'Luxembourg*', 'Capital': 'Luxembourg', 'Long': 6.1237, 'Lat': 49.6117},
    'Madagascar*': {'Country': 'Madagascar*', 'Capital': 'Antananarivo', 'Long': 47.5079, 'Lat': -18.8792},
    'Maldives': {'Country': 'Maldives', 'Capital': 'Malé', 'Long': 73.5093, 'Lat': 4.1755},
    'Mauritania*': {'Country': 'Mauritania*', 'Capital': 'Nouakchott', 'Long': -15.9666, 'Lat': 18.0735},
    'Namibia': {'Country': 'Namibia', 'Capital': 'Windhoek', 'Long': 17.0658, 'Lat': -22.5597},
    'Niger*': {'Country': 'Niger*', 'Capital': 'Niamey', 'Long': 2.1128, 'Lat': 13.5128},
    'North Cyprus*': {'Country': 'North Cyprus*', 'Capital': 'North Nicosia', 'Long': 33.5138, 'Lat': 35.1823},
    'North Macedonia': {'Country': 'North Macedonia', 'Capital': 'Skopje', 'Long': 21.4335, 'Lat': 42.0022},
    'Northern Cyprus': {'Country': 'Northern Cyprus', 'Capital': 'North Nicosia', 'Long': 33.5138, 'Lat': 35.1823},
    'Palestinian Territories*': {'Country': 'Palestinian Territories*', 'Capital': 'Ramallah', 'Long': 35.2032, 'Lat': 31.8994},
    'Puerto Rico': {'Country': 'Puerto Rico', 'Capital': 'San Juan', 'Long': -66.1057, 'Lat': 18.4655},
    'Rwanda*': {'Country': 'Rwanda*', 'Capital': 'Kigali', 'Long': 30.0615, 'Lat': -1.9499},
    'Somalia': {'Country': 'Somalia', 'Capital': 'Mogadishu', 'Long': 45.3438, 'Lat': 2.0469},
    'Somaliland Region': {'Country': 'Somaliland Region', 'Capital': 'Hargeisa', 'Long': 44.0521, 'Lat': 9.5581},
    'South Sudan': {'Country': 'South Sudan', 'Capital': 'Juba', 'Long': 31.5760, 'Lat': 4.8594},
    'State of Palestine': {'Country': 'State of Palestine', 'Capital': 'Ramallah', 'Long': 35.2032, 'Lat': 31.8994},
    'Taiwan Province of China': {'Country': 'Taiwan Province of China', 'Capital': 'Taipei', 'Long': 121.5654, 'Lat': 25.0320},
    'Trinidad & Tobago': {'Country': 'Trinidad & Tobago', 'Capital': 'Port of Spain', 'Long': -61.5240, 'Lat': 10.6596},
    'Turkiye': {'Country': 'Turkiye', 'Capital': 'Ankara', 'Long': 32.8641, 'Lat': 39.9334},
    'Turkmenistan*': {'Country': 'Turkmenistan*', 'Capital': 'Ashgabat', 'Long': 58.3839, 'Lat': 37.9887},
    'Yemen*': {'Country': 'Yemen*', 'Capital': "Sana'a", 'Long': 44.2075, 'Lat': 15.3694}
}

In [41]:
for country, coordinates in capital_coordinates.items():
    if country not in df['Country'].values:
        df=df.append({'Country': country, 'Lat': coordinates['Lat'], 'Long': coordinates['Long']}, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [42]:
country_to_region = {
    'Finland': 'Europe',
    'Denmark': 'Europe',
    'Iceland': 'Europe',
    'Israel': 'Asia',
    'Netherlands': 'Europe',
    'Sweden': 'Europe',
    'Norway': 'Europe',
    'Switzerland': 'Europe',
    'Luxembourg': 'Europe',
    'New Zealand': 'Oceania',
    'Austria': 'Europe',
    'Australia': 'Oceania',
    'Canada': 'North America',
    'Ireland': 'Europe',
    'United States': 'North America',
    'Germany': 'Europe',
    'Belgium': 'Europe',
    'Czechia': 'Europe',
    'United Kingdom': 'Europe',
    'Lithuania': 'Europe',
    'France': 'Europe',
    'Slovenia': 'Europe',
    'Costa Rica': 'North America',
    'Romania': 'Europe',
    'Singapore': 'Asia',
    'United Arab Emirates': 'Asia',
    'Taiwan Province of China': 'Asia',
    'Uruguay': 'South America',
    'Slovakia': 'Europe',
    'Saudi Arabia': 'Asia',
    'Estonia': 'Europe',
    'Spain': 'Europe',
    'Italy': 'Europe',
    'Kosovo': 'Europe',
    'Chile': 'South America',
    'Mexico': 'North America',
    'Malta': 'Europe',
    'Panama': 'North America',
    'Poland': 'Europe',
    'Nicaragua': 'North America',
    'Latvia': 'Europe',
    'Bahrain': 'Asia',
    'Guatemala': 'North America',
    'Kazakhstan': 'Asia',
    'Serbia': 'Europe',
    'Cyprus': 'Europe',
    'Japan': 'Asia',
    'Croatia': 'Europe',
    'Brazil': 'South America',
    'El Salvador': 'North America',
    'Hungary': 'Europe',
    'Argentina': 'South America',
    'Honduras': 'North America',
    'Uzbekistan': 'Asia',
    'Malaysia': 'Asia',
    'Portugal': 'Europe',
    'South Korea': 'Asia',
    'Greece': 'Europe',
    'Mauritius': 'Africa',
    'Thailand': 'Asia',
    'Mongolia': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Moldova': 'Europe',
    'China': 'Asia',
    'Vietnam': 'Asia',
    'Paraguay': 'South America',
    'Montenegro': 'Europe',
    'Jamaica': 'North America',
    'Bolivia': 'South America',
    'Russia': 'Europe',
    'Bosnia and Herzegovina': 'Europe',
    'Colombia': 'South America',
    'Dominican Republic': 'North America',
    'Ecuador': 'South America',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Bulgaria': 'Europe',
    'Nepal': 'Asia',
    'Armenia': 'Asia',
    'Tajikistan': 'Asia',
    'Algeria': 'Africa',
    'Hong Kong S.A.R. of China': 'Asia',
    'Albania': 'Europe',
    'Indonesia': 'Asia',
    'South Africa': 'Africa',
    'Congo (Brazzaville)': 'Africa',
    'North Macedonia': 'Europe',
    'Venezuela': 'South America',
    'Laos': 'Asia',
    'Georgia': 'Asia',
    'Guinea': 'Africa',
    'Ukraine': 'Europe',
    'Ivory Coast': 'Africa',
    'Gabon': 'Africa',
    'Nigeria': 'Africa',
    'Cameroon': 'Africa',
    'Mozambique': 'Africa',
    'Iraq': 'Asia',
    'State of Palestine': 'Asia',
    'Morocco': 'Africa',
    'Iran': 'Asia',
    'Senegal': 'Africa',
    'Mauritania': 'Africa',
    'Burkina Faso': 'Africa',
    'Namibia': 'Africa',
    'Turkiye': 'Asia',
    'Ghana': 'Africa',
    'Pakistan': 'Asia',
    'Niger': 'Africa',
    'Tunisia': 'Africa',
    'Kenya': 'Africa',
    'Sri Lanka': 'Asia',
    'Uganda': 'Africa',
    'Chad': 'Africa',
    'Cambodia': 'Asia',
    'Benin': 'Africa',
    'Myanmar': 'Asia',
    'Bangladesh': 'Asia',
    'Gambia': 'Africa',
    'Mali': 'Africa',
    'Egypt': 'Africa',
    'Togo': 'Africa',
    'Jordan': 'Asia',
    'Ethiopia': 'Africa',
    'Liberia': 'Africa',
    'India': 'Asia',
    'Madagascar': 'Africa',
    'Zambia': 'Africa',
    'Tanzania': 'Africa',
    'Comoros': 'Africa',
    'Malawi': 'Africa',
    'Botswana': 'Africa',
    'Congo (Kinshasa)': 'Africa',
    'Zimbabwe': 'Africa',
    'Sierra Leone': 'Africa',
    'Lebanon': 'Asia',
    'Afghanistan': 'Asia',
    'Luxembourg*': 'Europe',
    'Guatemala*': 'North America',
    'Kuwait*': 'Asia',
    'Belarus*': 'Europe',
    'Turkmenistan*': 'Asia',
    'North Cyprus*': 'Europe',
    'Libya*': 'Africa',
    'Azerbaijan*': 'Asia',
    'Gambia*': 'Africa',
    'Liberia*': 'Africa',
    'Congo': 'Africa',
    'Niger*': 'Africa',
    'Turkey': 'Asia',
    'Comoros*': 'Africa',
    'Palestinian Territories*': 'Asia',
    'Eswatini, Kingdom of*': 'Africa',
    'Madagascar*': 'Africa',
    'Chad*': 'Africa',
    'Yemen*': 'Asia',
    'Mauritania*': 'Africa',
    'Lesotho*': 'Africa',
    'Botswana*': 'Africa',
    'Rwanda*': 'Africa',
    'Czech Republic': 'Europe',
    'Kuwait': 'Asia',
    'North Cyprus': 'Europe',
    'Belarus': 'Europe',
    'Libya': 'Africa',
    'Maldives': 'Asia',
    'Azerbaijan': 'Asia',
    'Turkmenistan': 'Asia',
    'Palestinian Territories': 'Asia',
    'Swaziland': 'Africa',
    'Burundi': 'Africa',
    'Yemen': 'Asia',
    'Haiti': 'North America',
    'Lesotho': 'Africa',
    'Rwanda': 'Africa',
    'Trinidad and Tobago': 'North America',
    'Macedonia': 'Europe',
    'Central African Republic': 'Africa',
    'South Sudan': 'Africa',
    'Taiwan': 'Asia',
    'Qatar': 'Asia',
    'Trinidad & Tobago': 'North America',
    'Northern Cyprus': 'Europe',
    'Hong Kong': 'Asia',
    'Bhutan': 'Asia',
    'Somalia': 'Africa',
    'Syria': 'Asia',
    'Belize': 'North America',
    'Sudan': 'Africa',
    'Angola': 'Africa',
    'Hong Kong S.A.R., China': 'Asia',
    'Puerto Rico': 'North America',
    'Suriname': 'South America',
    'Somaliland Region': 'Africa',
    'Oman': 'Asia',
    'Somaliland region': 'Africa',
    'Djibouti': 'Africa'
}

In [43]:
dateiname = "regions.pkl"

# Öffne die Datei im Schreibmodus und speichere das Dictionary mit Pickle
with open(dateiname, "wb") as datei:
    pickle.dump(country_to_region, datei)

print(f"Das Dictionary wurde in {dateiname} gespeichert.")

Das Dictionary wurde in regions.pkl gespeichert.

In [153]:
merged_df.columns

Index(['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
       'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
       'Explained_by_Generosity', 'Explained_by_Health',
       'Explained_by_Social_support', 'Dystopia_Residual'],
      dtype='object')

In [154]:
merged_df.to_csv('merged_data.csv', index=False)  #speichern

In [196]:
merged_df.head()

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual
0,2023,Finland,Western Europe,1,7.804,0.535,1.888,0.772,0.126,0.535,1.585,2.363
1,2023,Denmark,Western Europe,2,7.586,0.525,1.949,0.734,0.208,0.537,1.548,2.084
2,2023,Iceland,Western Europe,3,7.53,0.187,1.926,0.738,0.25,0.559,1.62,2.25
3,2023,Israel,Middle East and Northern Africa,4,7.473,0.158,1.833,0.569,0.124,0.577,1.521,2.691
4,2023,Netherlands,Western Europe,5,7.403,0.394,1.942,0.672,0.251,0.545,1.488,2.11

In [111]:
data_2020 = df_20

data_2021 = df_21


# Füge das Jahr als Index hinzu
df_20.set_index("Year", append=True, inplace=True)
df_21.set_index("Year", append=True, inplace=True)

# Verwende pd.concat() für das Zusammenführen und Erstellen eines Multi-Index
merged_df = pd.concat([df_20, df_21])

# Das merged_df hat nun einen Multi-Index mit "Country" und "Year"
print(merged_df)

              Country  Regional indicator  Happiness  \
    Year
0   2020      Finland      Western Europe     7.8087
1   2020      Denmark      Western Europe     7.6456
2   2020  Switzerland      Western Europe     7.5599
3   2020      Iceland      Western Europe     7.5045
4   2020       Norway      Western Europe     7.4880
...               ...                 ...        ...
144 2021      Lesotho  Sub-Saharan Africa     3.5120
145 2021     Botswana  Sub-Saharan Africa     3.4670
146 2021       Rwanda  Sub-Saharan Africa     3.4150
147 2021     Zimbabwe  Sub-Saharan Africa     3.1450
148 2021  Afghanistan          South Asia     2.5230

          Standard error of ladder score  upperwhisker  lowerwhisker  \
    Year
0   2020                        0.031156      7.869766      7.747634
1   2020                        0.033492      7.711245      7.579955
2   2020                        0.035014      7.628528      7.491272
3   2020                        0.059616      7.621347      7.387653
4   2020                        0.034837      7.556281      7.419719
...                                  ...           ...           ...
144 2021                        0.120000      3.748000      3.276000
145 2021                        0.074000      3.611000      3.322000
146 2021                        0.068000      3.548000      3.282000
147 2021                        0.058000      3.259000      3.030000
148 2021                        0.038000      2.596000      2.449000

          Logged GDP per capita  Ladder score in Dystopia  Explained_by_GDP  \
    Year
0   2020              10.639267                  1.972317          1.285190
1   2020              10.774001                  1.972317          1.326949
2   2020              10.979933                  1.972317          1.390774
3   2020              10.772559                  1.972317          1.326502
4   2020              11.087804                  1.972317          1.424207
...                         ...                       ...               ...
144 2021               7.926000                  2.430000          0.451000
145 2021               9.782000                  2.430000          1.099000
146 2021               7.676000                  2.430000          0.364000
147 2021               7.943000                  2.430000          0.457000
148 2021               7.695000                  2.430000          0.370000

          Explained_by_Social_support  Explained_by_Health  \
    Year
0   2020                     1.499526             0.961271
1   2020                     1.503449             0.979333
2   2020                     1.472403             1.040533
3   2020                     1.547567             1.000843
4   2020                     1.495173             1.008072
...                               ...                  ...
144 2021                     0.731000             0.007000
145 2021                     0.724000             0.340000
146 2021                     0.202000             0.407000
147 2021                     0.649000             0.243000
148 2021                     0.000000             0.126000

          Explained_by_Freedom  Explained_by_Generosity  Explained_by_Trust  \
    Year
0   2020              0.662317                 0.159670            0.477857
1   2020              0.665040                 0.242793            0.495260
2   2020              0.628954                 0.269056            0.407946
3   2020              0.661981                 0.362330            0.144541
4   2020              0.670201                 0.287985            0.434101
...                        ...                      ...                 ...
144 2021              0.405000                 0.103000            0.015000
145 2021              0.539000                 0.027000            0.088000
146 2021              0.627000                 0.227000            0.493000
147 2021              0.359000                 0.157000            0.075000
148 2021              0.000000                 0.122000            0.010000

          Dystopia_Residual  Happiness_Rank              Region
    Year
0   2020           2.762835               1      Western Europe
1   2020           2.432741               2      Western Europe
2   2020           2.350267               3      Western Europe
3   2020           2.460688               4      Western Europe
4   2020           2.168266               5      Western Europe
...                     ...             ...                 ...
144 2021           1.800000             145  Sub-Saharan Africa
145 2021           0.648000             146  Sub-Saharan Africa
146 2021           1.095000             147  Sub-Saharan Africa
147 2021           1.205000             148  Sub-Saharan Africa
148 2021           1.895000             149       Southern Asia

[302 rows x 17 columns]

In [112]:
merged_df = pd.concat(dataframes, ignore_index=True)

# Das merged_df enthält alle Zeilen aus den DataFrames
print(merged_df)

          Country Happiness  Standard error of ladder score  upperwhisker  \
0         Finland     7.804                           0.036         7.875
1         Denmark     7.586                           0.041         7.667
2         Iceland      7.53                           0.049         7.625
3          Israel     7.473                           0.032         7.535
4     Netherlands     7.403                           0.029         7.460
...           ...       ...                             ...           ...
1363       Rwanda     3.465                             NaN           NaN
1364        Benin      3.34                             NaN           NaN
1365        Syria     3.006                             NaN           NaN
1366      Burundi     2.905                             NaN           NaN
1367         Togo     2.839                             NaN           NaN

      lowerwhisker  Logged GDP per capita  Ladder score in Dystopia  \
0            7.733                 10.792                     1.778
1            7.506                 10.962                     1.778
2            7.434                 10.896                     1.778
3            7.411                 10.639                     1.778
4            7.346                 10.942                     1.778
...            ...                    ...                       ...
1363           NaN                    NaN                       NaN
1364           NaN                    NaN                       NaN
1365           NaN                    NaN                       NaN
1366           NaN                    NaN                       NaN
1367           NaN                    NaN                       NaN

     Explained_by_GDP Explained_by_Social_support Explained_by_Health  ...  \
0               1.888                       1.585               0.535  ...
1               1.949                       1.548               0.537  ...
2               1.926                        1.62               0.559  ...
3               1.833                       1.521               0.577  ...
4               1.942                       1.488               0.545  ...
...               ...                         ...                 ...  ...
1363          0.22208                      0.7737             0.42864  ...
1364          0.28665                     0.35386              0.3191  ...
1365           0.6632                     0.47489             0.72193  ...
1366           0.0153                     0.41587             0.22396  ...
1367          0.20868                     0.13995             0.28443  ...

     Happiness_Rank                           Region Whisker-high Whisker-low  \
0                 1                   Western Europe          NaN         NaN
1                 2                   Western Europe          NaN         NaN
2                 3                   Western Europe          NaN         NaN
3                 4  Middle East and Northern Africa          NaN         NaN
4                 5                   Western Europe          NaN         NaN
...             ...                              ...          ...         ...
1363            154               Sub-Saharan Africa          NaN         NaN
1364            155               Sub-Saharan Africa          NaN         NaN
1365            156  Middle East and Northern Africa          NaN         NaN
1366            157               Sub-Saharan Africa          NaN         NaN
1367            158               Sub-Saharan Africa          NaN         NaN

      Regional indicator  Whisker.high Whisker.low Lower Confidence Interval  \
0                    NaN           NaN         NaN                       NaN
1                    NaN           NaN         NaN                       NaN
2                    NaN           NaN         NaN                       NaN
3                    NaN           NaN         NaN                       NaN
4                    NaN           NaN         NaN                       NaN
...                  ...           ...         ...                       ...
1363                 NaN           NaN         NaN                       NaN
1364                 NaN           NaN         NaN                       NaN
1365                 NaN           NaN         NaN                       NaN
1366                 NaN           NaN         NaN                       NaN
1367                 NaN           NaN         NaN                       NaN

     Upper Confidence Interval Standard Error
0                          NaN            NaN
1                          NaN            NaN
2                          NaN            NaN
3                          NaN            NaN
4                          NaN            NaN
...                        ...            ...
1363                       NaN        0.03464
1364                       NaN        0.03656
1365                       NaN        0.05015
1366                       NaN        0.08658
1367                       NaN        0.06727

[1368 rows x 25 columns]