# Merge Data from the World Happiness Report 2015 to 2023

### import packages

In [1]:
import pandas as pd
import plotly.graph_objects as go
import pickle
import pycountry

### import data

In [2]:
df_15 = pd.read_csv("2015.csv")
df_16 = pd.read_csv("2016.csv")
df_17 = pd.read_csv("2017.csv")
df_18 = pd.read_csv("2018.csv")
df_19 = pd.read_csv("2019.csv")
df_20 = pd.read_csv("2020.csv")
df_21 = pd.read_csv("2021.csv")
df_22 = pd.read_csv("2022.csv")
df_23 = pd.read_csv("2023.csv")

### naming the dataframes

In [3]:
df_23.name = 2023
df_22.name = 2022
df_21.name = 2021
df_20.name = 2020
df_19.name = 2019
df_18.name = 2018
df_17.name = 2017
df_16.name = 2016
df_15.name = 2015

### creating two sets of dataframes

In [4]:
dataframes = [df_23, df_22,df_21, df_20, df_19, df_18,df_17, df_16, df_15 ]
dataframes_1 =[df_23, df_21, df_20]
dataframes_2 =[df_23, df_22, df_21, df_20]
dataframes_3 = [df_19, df_18 ]
dataframes_4 =[df_16, df_15]

### deleting unwanted columns

In [5]:
columns_to_delete= ['Perceptions of corruption','Freedom to make life choices','Social support','Generosity','Healthy life expectancy']
for df in dataframes_1:
    df.drop(columns=columns_to_delete, inplace=True)

### adding column year and insert name of the dataframe

In [6]:
for df in dataframes:
    df['Year'] = df.name

column_to_check = 'Year'

if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Year' was successfully created in all DataFrames.

### renaming Country

In [7]:
df_18 = df_18.rename(columns= {"Country or region" : "Country"})
df_19 = df_19.rename(columns= {"Country or region" : "Country"})
df_20 = df_20.rename(columns= {"Country name" : "Country"})
df_21 = df_21.rename(columns= {"Country name" : "Country"})
df_23 = df_23.rename(columns= {"Country name" : "Country"})

### creating Dystopia_Residual for 2018 and 2019

In [8]:
for df in dataframes_3:
    df.loc[:, 'Dystopia_Residual'] = df.loc[:, 'Score'] - df.loc[:, 'GDP per capita'] - df.loc[:, 'Social support'] - df.loc[:, 'Healthy life expectancy'] - df.loc[:, 'Freedom to make life choices'] - df.loc[:, 'Generosity'] - df.loc[:, 'Perceptions of corruption']

## renaming Dystopia Residual to Dystopia_Residual
new_column_name = 'Dystopia_Residual'

columns_to_rename = ['Dystopia Residual', 'Dystopia.Residual', 'Dystopia + residual', 'Dystopia (1.83) + residual']
# Loop to rename columns
for idx, dataframe in enumerate(dataframes):
    for old_column_name in columns_to_rename:
        if old_column_name in dataframe.columns:
            dataframe.rename(columns={old_column_name: new_column_name}, inplace=True)

# Loop through the DataFrames and check if the column exists
column_to_check = 'Dystopia_Residual'
if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Dystopia_Residual' was successfully created in all DataFrames.

### making Country Column Names coherent

In [9]:
string_to_replace = 'Country'

# Loop to check and replace column names
for idx, dataframe in enumerate(dataframes):
    for col in dataframe.columns:
        if string_to_replace in col:
            new_col_name = 'Country'
            dataframe.rename(columns={col: new_col_name}, inplace=True)


# Loop through the DataFrames and check if the column exists
column_to_check = 'Country'
if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Country' was successfully created in all DataFrames.

### renaming Ladder Score and  Happiness Score in Happiness

In [10]:
columns_to_rename = ['Ladder score', 'Happiness Score', 'Happiness.Score', 'Score', 'Happiness score']

new_column_name = 'Happiness'

# Loop to rename columns
for idx, dataframe in enumerate(dataframes):
    for old_column_name in columns_to_rename:
        if old_column_name in dataframe.columns:
            dataframe.rename(columns={old_column_name: new_column_name}, inplace=True)



# Loop through the DataFrames and check if the column exists
column_to_check = 'Happiness'
if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Happiness' was successfully created in all DataFrames.

### creating the Happiness_Rank column

In [11]:
columns_to_rename = ['RANK', 'Happiness.Rank', 'Overall rank', 'Happiness Rank']

new_column_name = 'Happiness_Rank'

# Loop to rename columns
for idx, dataframe in enumerate(dataframes):
    for old_column_name in columns_to_rename:
        if old_column_name in dataframe.columns:
            dataframe.rename(columns={old_column_name: new_column_name}, inplace=True)

In [12]:
new_column_name = 'Happiness_Rank'
for idx, dataframe in enumerate(dataframes):
    if 'Happiness_Rank' not in dataframe.columns:
        dataframe[new_column_name] = dataframe.apply(lambda row: row.name + 1, axis=1)

# Loop through the DataFrames and check if the column exists
column_to_check = 'Happiness_Rank'
if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Happiness_Rank' was successfully created in all DataFrames.

### creating Explained_by_Social_support

In [13]:
new_column_name = 'Explained_by_Social_support'

columns_to_rename = ['Social support', 'Explained by: Social support', 'Family']

# Loop to rename columns
for idx, dataframe in enumerate(dataframes):
    for old_column_name in columns_to_rename:
        if old_column_name in dataframe.columns:
            dataframe.rename(columns={old_column_name: new_column_name}, inplace=True)



# Loop through the DataFrames and check if the column exists
column_to_check = 'Explained_by_Social_support'
if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Explained_by_Social_support' was successfully created in all DataFrames.

### creating Social support column

In [14]:
new_column_name = 'Explained_by_Health'

columns_to_rename = ['Health (Life Expectancy)', 'Health..Life.Expectancy.', 'Healthy life expectancy', 'Explained by: Healthy life expectancy']

# Loop to rename columns
for idx, dataframe in enumerate(dataframes):
    for old_column_name in columns_to_rename:
        if old_column_name in dataframe.columns:
            dataframe.rename(columns={old_column_name: new_column_name}, inplace=True)

# Loop through the DataFrames and check if the column exists
column_to_check = 'Explained_by_Health'

if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Explained_by_Health' was successfully created in all DataFrames.

### creating Explained_by_Generosity column

In [15]:
neuer_spaltenname = 'Explained_by_Generosity'

spalten_zu_umbenennen = ['Generosity', 'Explained by: Generosity']

# Schleife zum Umbenennen der Spalten
for idx, dataframe in enumerate(dataframes):
    for alter_spaltenname in spalten_zu_umbenennen:
        if alter_spaltenname in dataframe.columns:
            dataframe.rename(columns={alter_spaltenname: neuer_spaltenname}, inplace=True)

# Schleife durch die DataFrames und überprüfe, ob die Spalte vorhanden ist
column_to_check = 'Explained_by_Generosity'  

if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Explained_by_Generosity' was successfully created in all DataFrames.

### creating Explained_by_Freedom column

In [16]:
new_column_name = 'Explained_by_Freedom'

columns_to_rename = ['Explained by: Freedom to make life choices', 'Freedom', 'Freedom to make life choices', 'Explained by: Freedom to make life choices']

# Loop to rename columns
for idx, dataframe in enumerate(dataframes):
    for old_column_name in columns_to_rename:
        if old_column_name in dataframe.columns:
            dataframe.rename(columns={old_column_name: new_column_name}, inplace=True)   

# Loop through the DataFrames and check if the column exists
column_to_check = 'Explained_by_Freedom' 
if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Explained_by_Freedom' was successfully created in all DataFrames.

### creating Explained_by_GDP column

In [17]:
new_column_name = 'Explained_by_GDP'

columns_to_rename = ['Explained by: GDP per capita', 'Economy (GDP per Capita)', 'Freedom', 'Economy..GDP.per.Capita.', 'GDP per capita', 'Explained by: Log GDP per capita']

# Loop to rename columns
for idx, dataframe in enumerate(dataframes):
    for old_column_name in columns_to_rename:
        if old_column_name in dataframe.columns:
            dataframe.rename(columns={old_column_name: new_column_name}, inplace=True)
          
# Loop through the DataFrames and check if the column exists

column_to_check = 'Explained_by_GDP'  
if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Explained_by_GDP' was successfully created in all DataFrames.

### renaming Explained_by_Trust

In [18]:
for df in dataframes_2:
    new_column_name = 'Explained_by_Trust'
    df.rename(columns={'Explained by: Perceptions of corruption': new_column_name}, inplace=True)
for df in dataframes_3:
    new_column_name = 'Explained_by_Trust'
    df.rename(columns={'Perceptions of corruption': new_column_name}, inplace=True)
for df in dataframes_4:
    new_column_name = 'Explained_by_Trust'
    df.rename(columns={'Trust (Government Corruption)': new_column_name}, inplace=True)
new_column_name = 'Explained_by_Trust'
df_17.rename(columns={'Trust..Government.Corruption.': new_column_name}, inplace=True)

# Loop through the DataFrames and check if the column exists

column_to_check = 'Explained_by_Trust'    
if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Explained_by_Trust' was successfully created in all DataFrames.

### get regions for all Countries

In [19]:
#get regions from dictionary
with open("regions.pkl", 'rb') as data:
    regions = pickle.load(data)  
for df in dataframes:
    # Use the "map" function to update the "Region" column
    df['Region'] = df['Country'].map(regions)    

for df in dataframes:
    # Check if "Region" is in the DataFrame's columns
    if "Region" not in df.columns:
        # If not, add "Region" and fill it with values from the dictionary
        df["Region"] = df["Country"].map(region_dict)
        
# Loop through the DataFrames and check if the column exists

column_to_check = "Region"    
if all(column_to_check in df.columns for df in dataframes):
    print(f"Column '{column_to_check}' was successfully created in all DataFrames.")
else:
    print(f"Column '{column_to_check}' was not successfully created in all DataFrames.")

Column 'Region' was successfully created in all DataFrames.

## check for duplicate column names

In [20]:
def find_duplicate_columns(df):
    duplicated_columns = df.columns[df.columns.duplicated()].tolist()
    return duplicated_columns

duplicated = any(find_duplicate_columns(df) for df in dataframes)

if duplicated:
    print("There are duplicated column names in the dataframes.")
else:
    print("There are no duplicated column names in the dataframes.")

There are no duplicated column names in the dataframes.

### unify decimal seperators

In [21]:
def unify_decimal_separator(df, column):
    # Check if the column is not of string type (e.g., float)
    if df[column].dtype != 'string':
        # Convert the column to string type
        df[column] = df[column].astype(str)
    
    # Replace ',' with '.' and convert to float
    df[column] = df[column].str.replace(',', '.', regex=True).astype(float)

columns_to_process = ['Happiness', 'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom', 'Explained_by_Generosity', 'Explained_by_Health', 'Explained_by_Social_support', 'Dystopia_Residual']

for column in columns_to_process:
    unify_decimal_separator(df_22, column)

### unifing column to merge dataframe

In [22]:
selected_columns = ['Year', 'Country', 'Region', 'Happiness_Rank', 'Happiness',
                    'Explained_by_Trust', 'Explained_by_GDP', 'Explained_by_Freedom',
                    'Explained_by_Generosity', 'Explained_by_Health', 'Explained_by_Social_support', 
                    'Dystopia_Residual']
selected_dataframes = []

# Loop through the DataFrames and select the desired columns
for df in dataframes:
    df = df[selected_columns]  # Select the columns
    selected_dataframes.append(df)

# Reset the index of the DataFrames
for df in selected_dataframes:
    df.reset_index(drop=True, inplace=True)

# Use pd.concat() to combine the DataFrames row-wise
df = pd.concat(selected_dataframes, axis=0, ignore_index=True)

In [23]:
df.isna().sum()

Year                           0
Country                        0
Region                         1
Happiness_Rank                 0
Happiness                      1
Explained_by_Trust             2
Explained_by_GDP               1
Explained_by_Freedom           1
Explained_by_Generosity        1
Explained_by_Health            2
Explained_by_Social_support    1
Dystopia_Residual              3
dtype: int64

### checking for missing values

In [24]:
df = df.drop(df[df['Country'] == 'xx'].index)
df[df.isnull().any(axis=1)]

,Year,Country,Region,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual
98,2023,State of Palestine,Asia,99,4.908,0.067,1.144,0.416,0.065,NaN,1.309,NaN
761,2018,United Arab Emirates,Asia,20,6.774,NaN,2.096,0.284,0.186,0.67,0.776,NaN

In [25]:
# 2023: palestine: explained by health missing -> estimate:
happiness_value = 4.908
rest_value = 0.067 + 1.144 + 0.416 + 0.065 + 1.309
residual_plus_health = happiness_value - rest_value
residual_mean_23 = 1.7778382352941176
health = residual_plus_health - residual_mean_23
spalten_index = df.columns.get_loc('Explained_by_Health')

df.iloc[98, 9] = health
df.iloc[98, 11] = residual_mean_23

In [26]:
df.iloc[98,:]

Year                                         2023
Country                        State of Palestine
Region                                       Asia
Happiness_Rank                                 99
Happiness                                   4.908
Explained_by_Trust                          0.067
Explained_by_GDP                            1.144
Explained_by_Freedom                        0.416
Explained_by_Generosity                     0.065
Explained_by_Health                      0.129162
Explained_by_Social_support                 1.309
Dystopia_Residual                        1.777838
Name: 98, dtype: object

In [27]:
# 2018: arab emirates: explained by trust -> estimate:
happiness_value = 6.774
rest_value = 2.096 + 0.284 + 0.186 + 0.67 + 0.776
residual_plus_trust = happiness_value - rest_value
residual_mean_18 = 1.879871794871795
trust = residual_plus_trust - residual_mean_18


df.iloc[760, 5] = trust
df.iloc[760, 11] = residual_mean_18

In [28]:
df.iloc[760,:]

Year                                           2018
Country                        United Arab Emirates
Region                                         Asia
Happiness_Rank                                   20
Happiness                                     6.774
Explained_by_Trust                         0.882128
Explained_by_GDP                              2.096
Explained_by_Freedom                          0.284
Explained_by_Generosity                       0.186
Explained_by_Health                            0.67
Explained_by_Social_support                   0.776
Dystopia_Residual                          1.879872
Name: 761, dtype: object

In [29]:
df.isna().sum()
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Year, Country, Region, Happiness_Rank, Happiness, Explained_by_Trust, Explained_by_GDP, Explained_by_Freedom, Explained_by_Generosity, Explained_by_Health, Explained_by_Social_support, Dystopia_Residual]
Index: []

### adding iso codes

In [30]:
country_names = df["Country"].unique()

# loading pickle with iso3_information
with open('iso3_codes.pkl', 'rb') as file:
    iso3_codes = pickle.load(file)
    
df['iso_a3'] = df['Country'].map(iso3_codes)

### unifing country names based on iso3

In [31]:
with open('country_names.pkl', 'rb') as file:
    country_names = pickle.load(file)
df['Country'] = df['iso_a3'].map(country_names)

### adding life expectancy

In [32]:
df_life = pd.read_csv("life_expectancy.csv")
df_life = df_life.rename(columns= {"Country or Area" : "Country"})
df_life = df_life.rename(columns= {"Year(s)" : "Year"})

df_life['iso_a3'] = df_life['Country'].map(iso3_codes)
df_life['Country'] = df_life['iso_a3'].map(country_names)

In [33]:
# merge life expectancy data with df
df = df.merge(df_life[['Country', 'Year', 'Value']], on=['Country', 'Year'], how='left')
# save 'Value' in 'NewValue' 
df.rename(columns={'Value': 'Life_Expectancy'}, inplace=True)

### adding population

In [35]:
df_pop = pd.read_csv('New_source1_databank_worldbank_org.csv')
# Extract the columns with population data
df_pop = df_pop[['Country Name', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]']]

# Melt the DataFrame to reshape it
df_pop = df_pop.melt(id_vars=['Country Name'], var_name='Year', value_name='Total_Population')
# Rename 'Country Name' to match the column in the merged_data_life DataFrame
df_pop = df_pop.rename(columns={'Country Name': 'Country'})

# Convert the 'Year' column to integers
df_pop['Year'] = df_pop['Year'].str.extract('(\d+)').astype(int)

# unifing country names
df_pop['iso_a3'] = df_pop['Country'].map(iso3_codes)
df_pop['Country'] = df_pop['iso_a3'].map(country_names)
df_pop.drop(columns=['iso_a3'], inplace=True)
#merge data
df = df.merge(df_pop, on=['Country', 'Year'], how='left')

In [36]:
# filling in missing population 
population_data = pd.read_csv('New_source1_databank_worldbank_org.csv')
# List of countries and their corresponding names in the population_data DataFrame
countries = {
    'Czech Republic': 'Czechia',
    'Egypt': 'Egypt, Arab Rep.',
    'Slovakia': 'Slovak Republic',
    'Kyrgyzstan': 'Kyrgyz Republic',
    'Russia': 'Russian Federation',
    'Hong Kong': 'Hong Kong SAR, China',
    'Congo (Kinshasa)': 'Congo, Dem. Rep.',
    'Congo': 'Congo, Rep.',
    'Venezuela': 'Venezuela, RB',
    'Laos': 'Lao PDR',
    'Ivory Coast': "Cote d'Ivoire",
    'Iran': 'Iran, Islamic Rep.',
    'Eswatini, Kingdom of*': 'Eswatini',
    'Yemen': 'Yemen, Rep.',
    'Turkey': 'Turkiye',
    'Syria': 'Syrian Arab Republic',
    'Trinidad & Tobago': 'Trinidad and Tobago',
    'Gambia': 'Gambia, The',
    'South Korea': 'Korea, Rep.',
    'Somaliland Region': 'Somalia',
    'Macedonia': 'North Macedonia'
}

# Define the list of years to iterate through
years = [str(year) + ' [YR' + str(year) + ']' for year in range(2015, 2024)]

# Iterate through each country and update Total_Population values in df
for country, population_name in countries.items():
    country_population = population_data[population_data['Country Name'] == population_name]
    for year in years:
        condition = (df['Country'] == country) & df['Total_Population'].isna()
        df.loc[condition, 'Total_Population'] = country_population[year].values[0]

### adding Continents

In [38]:
with open('continents.pkl', 'rb') as file:
    country_to_continent = pickle.load(file)

In [39]:
df.loc[:,'Continent'] = df.loc[:,'Country'].map(country_to_continent)
df.drop(columns=['Region'], inplace=True)
df.head(1)

,Year,Country,Happiness_Rank,Happiness,Explained_by_Trust,Explained_by_GDP,Explained_by_Freedom,Explained_by_Generosity,Explained_by_Health,Explained_by_Social_support,Dystopia_Residual,iso_a3,Life_Expectancy,Total_Population,Continent
0,2023,Finland,1,7.804,0.535,1.888,0.772,0.126,0.535,1.585,2.363,FIN,82.5148,5559408,Europe

In [ ]:
##save new dataframe
df.to_csv('merged_data.csv', index=False)